.wheel-spin-button-container {
  height: 10vw;
  width: 10vw;
  background-color: #FAFAFA;
  position: relative;
  top: calc(50% - 5vw);
  left: calc(50% - 5vw);
  border-radius: 50%;
}

.prize-label {
  font-size: 1.5vw;
    z-index: 10;
    float: right;
    top: 84%;
    transform: rotate(-9deg);
    right: 2.5vw;
    position: relative;
    color: white;
}

.prize-pointer {
  height: 5vw;
  width: 5vw;
  background-image: url('../../assets/pointer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 2.5vw);
  z-index: 20;
  right: calc(27.5vw - 3vw);
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/cinnamon-background.png');
  background-size: cover;
}

.center-logo {
  position: relative;
  top: 1vw;
  left: 1vw;
  height: 8vw;
  width: 8vw;
  background-image: url('../../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  width: 100%;
}

.modal-header {
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-body {
  text-align: center;
}

.modal-logo {
  position: relative;
  width: 162px;
  height: 111px;
  left: calc(50% - 81px);
  background-image: url('../../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.prize-modal-title {
  font-size: 32px;
  line-height: 60px;
}

.prize-modal-prize {
  font-size: 48px;
  line-height: 60px;
  color: #FF9900;
  font-weight: bold;
}

.confetti {
  position: fixed;
  left: 50%;
  top: 40%;
}

.cinnamon-icons {
  width: 140%;
  position: relative;
  left: -20%;
  height: 70px;
}

@keyframes jump {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
    top: -80px;
    left: 0px;
  }
  40%, 60% {
    top: -85px;
  }
  45% {
    transform: rotate(-10deg);
    top: -80px;
    left: -6px;
  }
  50% {
    top: -87px;
  }
  55% {
    transform: rotate(10deg);
    top: -80px;
    left: 6px;
  }
  65% {
    left: 0px;
    transform: rotate(0deg);
    top: -80px;
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes jump2 {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
    top: -80px;
    right: 0px;
  }
  40%, 60% {
    top: -85px;
  }
  45% {
    transform: rotate(-10deg);
    top: -80px;
    right: 6px;
  }
  50% {
    top: -87px;
  }
  55% {
    transform: rotate(10deg);
    top: -80px;
    right: -6px;
  }
  65% {
    right: 0px;
    transform: rotate(0deg);
    top: -80px;
  }
  100% {
    transform: rotate(0deg);
  }
}

.cinnamon-left {
  float: left;
  position: absolute;
  top: -80px;
  height: 170px;
  width: 170px;
  background-image: url('../../assets/cinnamon1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: jump 3s infinite;

}

.cinnamon-right {
  float: right;
  position: absolute;
  right: 0px;
  top: -80px;
  height: 170px;
  width: 170px;
  background-image: url('../../assets/cinnamon2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: jump2 3s infinite;
  animation-delay: 1s;
}